<!doctype html>
<html lang="en" ng-app="pm">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, minimum-scale=1.0">
		<title>Project Student Manager</title>
		<meta name="description" content="student project manager">
		<meta name="author" content="team12">
		<link href='http://fonts.googleapis.com/css?family=Fira+Sans:400,500|Ubuntu+Condensed|Open+Sans|Roboto|Roboto+Condensed|Open+Sans+Condensed:300&subset=latin,greek'
		rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="assets/css/bootstrap.min.css">
		<script type="text/javascript" src="assets/js/jquery-1.11.2.min.js"></script>
		<script type="text/javascript" src="assets/js/angular.js"></script>
		<script type="text/javascript" src="assets/js/angular-route.js"></script>
		<script type="text/javascript" src="assets/js/angucomplete-alt.js"></script>
		<script type="text/javascript" src="assets/js/ui-bootstrap-custom-0.13.0.js"></script>
		<script type="text/javascript" src="assets/js/app.js"></script>
		<script type="text/javascript" src="assets/js/ng-table.js"></script>
		<link rel="stylesheet" href="assets/css/style.css">
		<link rel="stylesheet" href="assets/css/angucomplete-alt.css">
		<link rel="stylesheet" href="assets/css/ng-table.min.css">
		<link rel="stylesheet" href="assets/css/switch-base.css">
		<link rel="stylesheet" href="assets/css/switch-style.css">
		<link href="assets/css/icons/icons.min.css" rel="stylesheet">
	</head>
	<body style="background-color:#ffffff;" ng-controller="RouteController">
		<nav class="navbar navbar-inverse" role="navigation" mynavbar>
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="/#/"> ProjectManager UoC</a>
				</div>
				<div class="spanel-search-holder text-center">
					<angucomplete-alt id="search" placeholder="Search course/members" pause="100" selected-object="foo" local-data="searchableItems"
					search-fields="username,name,surname,code,project,title,author,info" title-field="name,surname,code,project,title,author"
					minlength="1" input-class="search-form-control search-form-control-small" clear-selected="true" match-class="highlight" text-no-results="Nothing found :("
					focus-in="searchInFocus()"></angucomplete-alt>
					<button type="button" class="btn btn-danger" aria-label="Left Align" ng-show="fromSearch.isActive()"
					ng-click="searchOutFocus()">
						<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
					</button>
				</div>
				<ul class="nav navbar-nav navbar-right">
					<ul login-modal>
						<button type="button" class="btn btn-dark pull-right" ng-hide="usrService.loggedIn" ng-click="open()">Login</button>
					</ul>
					<ul ng-show="usrService.loggedIn">
						<li class="btn-group" dropdown is-open="status.isopen">
							<a href="#" class="dropdown-toggle c-white" dropdown-toggle data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
					        {{usrService.name}} {{usrService.surname}}
								<i class="fa fa-angle-down p-r-10"></i>
					      </a>
							<ul class="dropdown-menu" role="menu">
								<li>
									<a href="#/Profile" ng-click="usrService.selectUser(usrService.username)">My Profile</a>
								</li>
								<li>
									<a href="#/Projects" ng-click="usrService.logOut()"><i class="fa fa-power-off"></i>LOGOUT</a>
								</li>
							</ul>
						</li>
					</ul>
				</ul>
			</div>
		</nav>
		<!-- <nav class="navbar navbar-inverse" role="navigation" mynavbar>
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="/#/"> ProjectManager UoC</a>
				</div>
				<ul class="nav navbar-nav navbar-left">
					<div style="text-align:center;width:100%;">
						<div class="spanel-search-holder">
							<angucomplete-alt id="search" placeholder="Search course/members" pause="100" selected-object="foo" local-data="searchableItems"
							search-fields="username,name,surname,code,project,title,author,info" title-field="name,surname,code,project,title,author"
							minlength="1" input-class="search-form-control search-form-control-small" clear-selected="true" match-class="highlight" text-no-results="Nothing found :("
							focus-in="searchInFocus()"></angucomplete-alt>
							<button type="button" class="btn btn-danger" aria-label="Left Align" ng-show="fromSearch.isActive()"
							ng-click="searchOutFocus()" style="float:right;">
								<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
							</button>
						</div>
					</div>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<ul login-modal>
						<button type="button" class="btn btn-dark pull-right" ng-hide="usrService.loggedIn" ng-click="open()">Login</button>
					</ul>
					<ul ng-show="usrService.loggedIn">
						<li class="btn-group" dropdown is-open="status.isopen">
							<a href="#" class="dropdown-toggle c-white" dropdown-toggle data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
					        {{usrService.name}} {{usrService.surname}}
								<i class="fa fa-angle-down p-r-10"></i>
					      </a>
							<ul class="dropdown-menu" role="menu">
								<li>
									<a href="#/Profile" ng-click="usrService.selectUser(usrService.username)">My Profile</a>
								</li>
								<li>
									<a href="#/Projects" ng-click="usrService.logOut()"><i class="fa fa-power-off"></i>LOGOUT</a>
								</li>
							</ul>
						</li>
					</ul>
				</ul>
			</div>
		</nav>-->
		<div id="search-panel" class="container spanel" ng-show="fromSearch.isActive()" ng-controller="TabTypesController as sTabs">
			<div class="spanel-header col-md-12">
				<h3>Search results:</h3>
				<p class="col-md-6 text-left">Searching for "{{fromSearch.getSearchQuery()}}".</p>
				<p class="col-md-6 text-right">Results matching: {{fromSearch.getSearchResults().length}}</p>
			</div>
			<div>
				<ul>
					<ul class="nav nav-tabs nav-justified" style="margin-left:0px;margin-right:0px;">
						<li ng-click="sTabs.selectGTab(1)" ng-class="{ active:sTabs.isSelected(1) }">
							<a class="panel_text" href="">Courses</a>
						</li>
						<li ng-click="sTabs.selectGTab(2)" ng-class="{ active:sTabs.isSelected(2) }">
							<a class="panel_text" href="">Users</a>
						</li>
					</ul>
					<div class="spanel-body">
						<div ng-show="sTabs.isSelected(1)">
							<a href="#/Course" ng-repeat="item in fromSearch.isCourse(fromSearch.getSearchResults())" ng-click="prjService.projectClicked(item.originalObject);searchOutFocus()">
								<div class="well sresults">
									<div>Διδάσκων: {{item.originalObject.author}}</div>
									<div>Τίτλος: {{item.originalObject.title}}</div>
									<div>Project: {{item.originalObject.project}}</div>
									<div>Κωδικός: {{item.originalObject.code}}</div>
								</div>
							</a>
							<div class="no_results">No matching courses found :(</div>
						</div>
						<div ng-show="sTabs.isSelected(2)">
							<a href="#/Profile" ng-repeat="item in fromSearch.isUser(fromSearch.getSearchResults())" ng-click="usrService.selectUser(item.originalObject.username);searchOutFocus()">
								<div class="well sresults">
									<div>Όνομα: {{item.originalObject.name}} {{item.originalObject.surname}}</div>
									<div>email: {{item.originalObject.email}}</div>
								</div>
							</a>
							<div class="no_results">No matching users found :(</div>
						</div>
					</div>
				</ul>
			</div>
		</div>
		<!-- END TOP MENU -->
		<div class="container main">
			<div class="row">
				<ul class="nav nav-tabs nav-justified" panels>
					<li ng-class="panelClass(panel)" ng-repeat="panel in panels">
						<a class="panel_text" href="{{panel.link}}" ng-click="setSelectedPanel(panel)">{{panel.label}}</a>
					</li>
				</ul>
				<div ng-view></div>
			</div>
		</div>
		<!-- BEGIN LOGIN BOX -->
		<div login-modal>
			<script type="text/ng-template" id="myModalContent.html">
				<div class=" login fade-in" id="login-block" >
					<div class="row">
			            <div class="col-sm-6 col-md-4 col-sm-offset-3 col-md-offset-4">
			                <div class="login-box clearfix animated flipInY">
			                    <div class="page-icon animated bounceInDown">
			                        <img src="assets/img/account/user-icon.png" alt="Key icon">
			                    </div>
			                    <div class="login-logo">
			                        <a href="#/Projects" style="text-decoration:none; color:#ffffff" onMouseOver="this.style.color='#ffffff'" onMouseOut="this.style.color='#ffffff'">
			                            ProjectManager<br>University of Crete
			                        </a>
			                    </div>
			                    <hr>
			                    <div class="login-form">
			                        <div class="alert alert-danger hide">
			                            <button type="button" class="close" data-dismiss="alert">×</button>
			                            <h4>Error!</h4>
			                            Your Error Message goes here
			                        </div>
			                        <form>
			                            <input type="text" placeholder="Username" class="input-field form-control user" />
			                            <input type="password" placeholder="Password" class="input-field form-control password" />
			                            <button type="submit" class="btn btn-login" ng-click="ok()">Login</button>
			                        </form>
			                        <div class="login-links">
			                            <a href="#/Projects">Forgot password?</a>
			                            <br>
			                            <p>Univercity of Crete 2015</p>
			                        </div>
			                    </div>
			                </div>
			            </div>
			        </div>
				</div>
			</script>
		</div>
	</body>

</html>