/* group widget styles */
.group_widget{
	margin-left:0px;
	margin-right:0px;
	margin-top: 5px;
	margin-bottom: 5px;
	background-color: #f9f9f9;
	border-radius: 10px 10px 0px 0px;
    box-shadow: inset 1px 1px 4px rgba(255, 255, 255, .4), inset -1px -1px 4px rgba(243, 243, 243, .4);
}
.group_header{
	margin-left: 2%;
	margin-right: 2%;
	}
.group_body{
	font-family: 'Roboto', sans-serif;
	float: left;
	margin-left: 2%;
	margin-right: 2%;
}
.group_stats{
	
	float: right;
	width: 120px;
	height: 180px;
}
.group_progressbar{
	width:100%;
	height:100%;
	position:absolute;
	/*background-image: url('../images/UserGroup.png');
	background-repeat: no-repeat;*/
}
.group_progressbar > span{
	color:#555;
    display:block;
    line-height:90px;
    text-align:center;
    width:90px;
    font-size:30px;
    font-weight:300;
	padding-top:50px;
}
.group_progressbar > canvas{
    display: block;
    position:absolute;
    top:0;
    left:0;
}
.group_course{
	font-family: 'Ubuntu Condensed', sans-serif;
	font-size:24px;
	/*float: left;
	vertical-align: bottom;
	display: table-cell;*/
}
.group_name{
	font-family: 'Ubuntu Condensed', sans-serif;
	font-size:18px;
	font-weight: bold;
	position:static;
	bottom: 0;
	/*float:left;
	margin-left: 10px;
	vertical-align: bottom;
	display: table-cell;*/
}
.group_author{
	fonr-size:12px;
	float:none;
}
.group_title{
	font-size:18px;
}

/* main container styles */
.container.main{
	background-color: #ffffff;
	max-width:1024px;
	}
	
/* Panel styles */
.panel_text{
	font-size: 28px;
	font-weight: bold;
}
.groups_panel {
	height: 500px;
	background-color: #ffffff;
}
/*.nav-tabs > li > a:hover {
  border-color: #eee #eee #ddd;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #555;
  cursor: default;
  background-color: #e9e9e9;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}*/

.container-3{
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
  top:0%;
}
 
.container-3 input#search{
  width: 300px;
  height: 40px;
  background: #2b303b;
  border: none;
  font-size: 10pt;
  color: #262626;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
}

.container-3 input#search::-webkit-input-placeholder {
   color: #65737e;
}
 
.container-3 input#search:-moz-placeholder { /* Firefox 18- */
   color: #65737e;  
}
 
.container-3 input#search::-moz-placeholder {  /* Firefox 19+ */
   color: #65737e;  
}
 
.container-3 input#search:-ms-input-placeholder {  
   color: #65737e;  
}

.container-3 .icon{
  z-index: 1;
  color: #4f5b66;
 
   -webkit-transition: all .55s ease;
  -moz-transition: all .55s ease;
  -ms-transition: all .55s ease;
  -o-transition: all .55s ease;
  transition: all .55s ease;
}
