<div  ng-controller="GroupTypesController as gTabs" class="row">
  <ul class="nav nav-pills" >
    <li ng-click="gTabs.selectGTab(1)" ng-class="{ active:gTabs.isSelected(1) }">
      <a class="panel_text" href="#/Groups">Owner</a>
    </li>
    <li ng-click="gTabs.selectGTab(2)" ng-class="{ active:gTabs.isSelected(2) }">
      <a class="panel_text" href="#/Groups">Invited</a>
    </li>
    <li ng-click="gTabs.selectGTab(3)" ng-class="{ active:gTabs.isSelected(3) }">
      <a class="panel_text" href="#/Groups">Pending</a>
    </li>
    <li ng-click="gTabs.selectGTab(4)" ng-class="{ active:gTabs.isSelected(4) }">
      <a class="panel_text" href="#/Groups">History</a>
    </li>
  </ul>
  <div class="projects_panel" ng-show="gTabs.isSelected(1)">
    <div class="gwidget_holder container" style="width:100%; height:100%; position:relative;">  <!--ng-controller="groupsController"-->
      <div>groups are loading {{loading}}</div>
        <groups-widgets class="gwidget gw-id{{group.id}}" ng-class="!group.maximized ? 'col-md-6' : 'col-md-12'" ng-repeat="group in groups" style="margin-top:65px;"></groups-widgets>
    </div>
  </div>

</div>
