<div  ng-controller="GroupTypesController as gTabs" class="row">
  <ul class="nav nav-pills" >
    <li ng-click="gTabs.selectGTab(1)" ng-class="{ active:gTabs.isSelected(1) }">
      <a class="groups_tab" href="#/Groups"><span class="badge badge-primary badge-header">{{usrService.owner.length}}</span> Owner</a>
    </li>
    <li ng-click="gTabs.selectGTab(2)" ng-class="{ active:gTabs.isSelected(2) }">
      <a class="groups_tab" href="#/Groups"><span class="badge badge-primary badge-header">{{usrService.invited.length}}</span> Invited</a>
    </li>
    <li ng-click="gTabs.selectGTab(3)" ng-class="{ active:gTabs.isSelected(3) }">
      <a class="groups_tab" href="#/Groups"><span class="badge badge-primary badge-header">{{usrService.pending.length}}</span> Pending</a>
    </li>
    <li ng-click="gTabs.selectGTab(4)" ng-class="{ active:gTabs.isSelected(4) }">
      <a class="groups_tab" href="#/Groups">History</a>
    </li>
  </ul>
  <div ng-hide="usrService.loadingGroups">
    <div class="groups_tab_content" ng-show="gTabs.isSelected(1) && !loading">
      <div class="gwidget_holder container" style="width:100%; height:100%; position:relative;">  <!--ng-controller="groupsController"-->
          <groups-widgets class="gwidget gw-id{{group.id}}" ng-class="!group.maximized ? 'col-md-6' : 'col-md-12'" ng-repeat="group in usrService.owner" style="margin-top:65px;"></groups-widgets>
          <div class="no_groups">You are not owing any groups at the moment.</div>
      </div>
    </div>
    <div class="groups_tab_content" ng-show="gTabs.isSelected(2) && !loading">
      <div class="gwidget_holder container" style="width:100%; height:100%; position:relative;">  
          <groups-widgets class="gwidget gw-id{{group.id}}" ng-class="!group.maximized ? 'col-md-6' : 'col-md-12'" ng-repeat="group in usrService.invited" style="margin-top:65px;"></groups-widgets>
          <div class="no_groups">You have no invitations to join groups.</div>
      </div>
    </div>
    <div class="groups_tab_content" ng-show="gTabs.isSelected(3) && !loading">
      <div class="gwidget_holder container" style="width:100%; height:100%; position:relative;"> 
          <groups-widgets class="gwidget gw-id{{group.id}}" ng-class="!group.maximized ? 'col-md-6' : 'col-md-12'" ng-repeat="group in usrService.pending" style="margin-top:65px;"></groups-widgets>
          <div class="no_groups">No groups are pending.</div>
      </div>
    </div>
  </div>
  <div ng-show="usrService.loadingGroups">
    <div class="sk-spinner sk-spinner-rotating-plane"></div>
      <div class="sk-spinner-text"><h3>Loading groups...</h3></div>
  </div>

</div>
